<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration>
	<connectionStrings>
		<add name="DbStr" providerName="MySql.Data.MySqlClient" connectionString="Server=192.168.1.132;Port=3306;Database=dbkepware;Uid=root;password=Korusu123;"/>
		<add name="OpcStr" connectionString="opc.tcp://192.168.1.132:49320"/>
		<add name="KepwareRestApiStr" connectionString="http://192.168.1.132:57412/config/v1/project/channels"/>
	</connectionStrings>
	<appSettings>
		<add key="KepwareServiceName" value="KEPServerEXV6"/>
		<add key="ClientDeviceCount" value="110"/>

	</appSettings>
</configuration>-->

<configuration>
	<connectionStrings>
		<add name="DbStr" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;Port=3306;Database=dbkepware;Uid=root;password=Korusu123;"/>
		<add name="OpcStr" connectionString="opc.tcp://127.0.0.1:49320"/>
		<add name="KepwareRestApiStr" connectionString="http://127.0.0.1:57412/config/v1/project/channels"/>
	</connectionStrings>
	<appSettings>
		<add key="KepwareServiceName" value="KEPServerEXV6"/>
		<add key="ClientDeviceCount" value="110"/>

	</appSettings>
</configuration>